In [2]:
import json
import requests
import psycopg2
import pandas as pd
import numpy as np
from datetime import datetime, date, time
from sqlalchemy import create_engine

## NOTE: This code is idealistic and isn't accounting for errors

### To setup Flask:
* my python version: Python 2.7.9 :: Anaconda custom (x86_64)
* place the dataint.py python file into the desired newly created directory
* NOTE: in dataint.py adjust postgres username, password, db name appropriately

```
conda install flask
export FLASK_APP=dataint.py
flask run
```

## Flask: Asterix /order

In [ ]:
base_url = "http://127.0.0.1:5000/sampleorders"
#Need include some type of key authorization
r = requests.get(base_url)
r_json = json.loads(r.content)
orders_df = pd.DataFrame(r_json)
orders_df

## Flask: Asterix /reviews
Review: retriewing 5 reviews and load into dataframe

In [ ]:
base_url = "http://127.0.0.1:5000/reviews"
#Need include some type of key authorization
r = requests.get(base_url)
r_json = json.loads(r.content)
reviews_df = pd.DataFrame(r_json)
reviews_df

## Flask Solr /reviewer

In [ ]:
#base_url = "http://127.0.0.1:5000/reviewer"
r = requests.get(base_url)
r_json = json.loads(r.content)
reviews_df = pd.DataFrame(r_json)
reviews_df

In [12]:
base_url = "http://127.0.0.1:5000/yearly"
r = requests.get(base_url)
r_json = json.loads(r.content)
reviews_df = pd.DataFrame(r_json)
reviews_df[['classification','total']]

                            classification       total
0               Home Design & Construction  $61,089.70
1                                  General  $60,315.75
2         Civil War Fredericksburg History  $35,366.97
3  U.S. Civil War Naval Operations History  $32,926.50
4       U.S. Civil War Confederacy History  $32,496.00

## Call postgres directly

In [10]:
engine = create_engine('postgresql://postgres:password@localhost:5433/SQLBook')
conn = engine.connect()
result = conn.execute('''with t as ( \
    select * 
    from orders
    limit 5 )
    select to_json(array_agg(t)) from t''')

OperationalError: (psycopg2.OperationalError) could not connect to server: Connection refused
	Is the server running on host "localhost" (::1) and accepting
	TCP/IP connections on port 5433?
could not connect to server: Connection refused
	Is the server running on host "localhost" (127.0.0.1) and accepting
	TCP/IP connections on port 5433?

In [ ]:
o = result.fetchone()

o_df = pd.DataFrame(o[0])
o_df
engine.dispose()

In [ ]:
conn.close()
o_df

### Direct orderlines Bernoulli 1% get classification for Asterix

In [4]:
engine = create_engine('postgresql://postgres:password@localhost:5432/SQLBook')
conn = engine.connect()
sql = '''
SELECT o.*, p.nodeid, p.asin 
FROM orderlines o TABLESAMPLE BERNOULLI(1) REPEATABLE(200)
inner join products p on o.productid = p.productid
'''

orderlines_df = pd.read_sql(sql, engine)

In [5]:
orderlines_df.head()

,orderlineid,orderid,productid,shipdate,billdate,unitprice,numunits,totalprice,nodeid,asin
0,1010669,1008582,10993,2010-12-15,2010-12-16,$29.95,1,$29.95,2765,0004708997
1,1010809,1008450,10674,2010-06-16,2010-06-17,$175.00,1,$175.00,8298061011,0002554364
2,1010859,1010363,11048,2009-11-09,2009-11-10,$10.00,2,$20.00,2946,000472500X
3,1011121,1009389,10534,2010-06-18,2010-06-19,$800.00,1,$800.00,355580011,0002247593
4,1011156,1010616,11176,2010-11-23,2010-11-24,$16.95,1,$16.95,3122,0006125492

In [3]:
statement = '''use TinySocial ;
select distinct c.nodeID, c.classification
from ClassificationInfo c 
where c.nodeID = 5322
or c.nodeID = 5023
or c.nodeID = 465238
or c.nodeID = 465258
or c.nodeID = 465236
;'''
payload = {
            'statement': statement
        }

a_response = requests.post('http://localhost:19002/query/service', data = payload)
print a_response.status_code
q = a_response.json()

classification_df = pd.DataFrame(q['results'])
classification_df

200

                            classification  nodeID
0         Civil War Fredericksburg History  465238
1       U.S. Civil War Confederacy History  465236
2                                  General    5023
3               Home Design & Construction    5322
4  U.S. Civil War Naval Operations History  465258

In [ ]:
print type(classification_df.nodeID[0])
orderlines_df.nodeid = orderlines_df['nodeid'].apply(np.int64)
print type(orderlines_df.nodeid[0])

In [ ]:
base_url = "http://127.0.0.1:5000/sampleorderlines"
#Need include some type of key authorization
r = requests.get(base_url)
r_json = json.loads(r.content)
orders_df = pd.DataFrame(r_json)
orders_df

In [ ]:
o_df  = pd.merge(orderlines_df, classification_df[['classification','nodeID']], left_on='nodeid', right_on='nodeID')
o_df.head()