## Flask Wrappers

In [29]:
import json
import requests
import pandas as pd
import numpy as np
from datetime import datetime, date, time

In [35]:
base_url = "http://127.0.0.1:5000/wrapper"
sql = 'select * from products limit 2;'
r = requests.post(base_url, json={'dbtype':'postgres', 'query':sql})
r_json = json.loads(r.content)
p_df = pd.DataFrame(r_json)
p_df

         asin fullprice groupcode groupname isinstock name  nodeid  productid
0  0000000116    $15.00        BK      BOOK         N            1      10001
1  0000000868    $10.00        BK      BOOK         N       173508      10002

In [36]:
base_url = "http://127.0.0.1:5000/wrapper"
sql = '''select distinct c.nodeID, c.classification 
from ClassificationInfo c
order by c.classification limit 2;'''
r = requests.post(base_url, json={'dbtype':'asterix', 'query':sql})
r_json = json.loads(r.content)
p_df = pd.DataFrame(r_json)
p_df

                    classification       nodeID
0             16th Century History   6343227011
1  16th Century Literary Criticism  11764669011

In [34]:
base_url = "http://127.0.0.1:5000/wrapper"
query = {'q': '*:*', 'wt': 'json', 'fq': "reviewerID:\'AH2L9G3DQHHAJ\'"}
r = requests.post(base_url, json={'dbtype':'solr', 'query':query})
#r_json = json.loads(r.content)
#p_df = pd.DataFrame(r_json)
#p_df
r

In [33]:
r.content

'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">\n<title>500 Internal Server Error</title>\n<h1>Internal Server Error</h1>\n<p>The server encountered an internal error and was unable to complete your request.  Either the server is overloaded or there is an error in the application.</p>\n'