In [ ]:
import json
import requests
import psycopg2
import pandas as pd
from datetime import datetime, date, time
from sqlalchemy import create_engine

## NOTE: This code is idealistic and isn't accounting for errors

### To setup Flask:
* my python version: Python 2.7.9 :: Anaconda custom (x86_64)
* place the dataint.py python file into the desired newly created directory
* NOTE: in dataint.py adjust postgres username, password, db name appropriately

```
conda install flask
export FLASK_APP=dataint.py
flask run
```

## Flask: postgres retrieving 5 order records and load into dataframe

In [ ]:
base_url = "http://127.0.0.1:5000/orders"
#Need include some type of key authorization
r = requests.get(base_url)
r_json = json.loads(r.content)
orders_df = pd.DataFrame(r_json)
orders_df

### Flask: astrix retriewing 5 reviews and load into dataframe

In [ ]:
base_url = "http://127.0.0.1:5000/reviews"
#Need include some type of key authorization
r = requests.get(base_url)
r_json = json.loads(r.content)
reviews_df = pd.DataFrame(r_json['results'])
reviews_df

## Call Asterix directly

In [ ]:
statement = '''USE TinySocial;
            SELECT VALUE r
            FROM reviews r
            LIMIT 5 ;'''
payload = {
            'statement': statement
        }

a_response = requests.post('http://localhost:19002/query/service', data = payload)
print a_response.status_code
q = a_response.json()

pd.DataFrame(q['results'])

In [ ]:
json.dumps(q['results'])

## Call postgres directly

In [ ]:
engine = create_engine('postgresql://postgres:password@localhost:5433/SQLBook')
conn = engine.connect()
result = conn.execute('''with t as ( \
    select * 
    from orders
    limit 5 )
    select to_json(array_agg(t)) from t''')

In [ ]:
o = result.fetchone()

o_df = pd.DataFrame(o[0])
o_df

In [ ]:
conn.close()